.chatpage{
    margin:auto;
    margin-top:1.5vh;
    margin-bottom: 1.5vh;
    display: block;
    width: fit-content;
    display: flex;
    border:0.2px solid lightblue;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}