html
body
{
 display:grid;
}
.logoStyle{
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}
.chatarea{
    height: 95vh;
    width:65vw;
    flex-direction: column;
    display: flex;
    background-color:whitesmoke;
}
.msgarea{
    height: 250%; 
    overflow-y: scroll;
}

ul,li{
    background: black;
    padding:0;
    margin:0;
    margin-left:10px;
    margin-right: 30px;
    margin-top: 1.5px;
}
li{
    list-style: none;
    background-color: black;
    clear:both;
    padding:10px;
    height:fit-content;
    width: fit-content;
    border-radius: 8px;
    position:relative;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    margin-top:20;
    padding: 0;
    font-size: 60%;
    margin-left: 100%;
    color:black ;
    position:absolute;
    bottom:0;
}
.msgtext{
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter ;
}
.smsg{
    float:right;
    background-color: lightskyblue;
}
.rmsg{
    float:left;
    background-color: whitesmoke;    
}
