body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,3,61,1) 0%, rgba(6,6,88,1) 0%, rgba(9,9,121,1) 0%, rgba(7,60,155,1) 0%, rgba(7,54,151,1) 1%, rgba(6,74,164,1) 23%, rgba(4,127,199,1) 49%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
